<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styless.css">
    <title>Panel Control</title>
</head>
<body>
    <div class="app">

        <div class="header">New adventure</div>

        <div class="principal-content">

            <div class="info-aircraft-arriving"></div>
            <div class="info-aircraft-leaving"></div>
            <div class="table-aircraft-arriving"></div>
            <div class="table-aircraft-leaving">HOlas</div>
            <div class="table-randoms-aircraft"></div>

        </div>
    </div>
    

</body>
</html>