/* infoSection.css */
.info-section.landed {
  padding: 20px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
  color: #666;
}

.info-section h3 {
  margin: 0 0 10px;
}

.info-section ul {
  list-style: none;
  padding: 0;
}

.info-section li {
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}

.info-section p {
  color: #666;
}